In [1]:
import pandas as pd
import numpy as np

In [49]:
classes = pd.DataFrame({'name':['jack','eva','john','joy'],
                      'math':[90,85,88,76], 
                      'english':[75,83,92,81], 
                      'science':[60,90,77,83], 
                      'classes':['a','a','b','c'], 
                        'club':['tennis','basketball',np.nan,np.nan]})
classes

   name  math  english  science classes        club
0  jack    90       75       60       a      tennis
1   eva    85       83       90       a  basketball
2  john    88       92       77       b         NaN
3   joy    76       81       83       c         NaN

In [50]:
classes['teacher'] = ""

In [64]:
def class_teacher(classes):
    if classes['classes'] == 'a':
        classes['teacher'] = 'jenny'
        return classes

In [65]:
classes['teacher'] = classes.apply(class_teacher, axis = 1)

ValueError: Columns must be same length as key

In [61]:
classes

   name  math  english  science classes        club teacher
0  jack    90       75       60       a      tennis    None
1   eva    85       83       90       a  basketball    None
2  john    88       92       77       b         NaN    None
3   joy    76       81       83       c         NaN    None