In [53]:
#문제1

#코드
import pandas as pd

# 각각의 열데이터 리스트추가
s1 = pd.Series(['홍길동','임꺽정','이순신','저팔계'], name = 's1')
s2 = pd.Series([0.368,0.155,0.242,0.235], name = 's2')
s3 = pd.Series([5,3,15,22], name= 's3')

In [54]:
df = pd.DataFrame({'player':s1,'hit':s2,'stolenbase':s3})

In [55]:
df

  player    hit  stolenbase
0    홍길동  0.368           5
1    임꺽정  0.155           3
2    이순신  0.242          15
3    저팔계  0.235          22

In [57]:
# 'hit'이 0.240 이상인 'player'  데이터프레임 형태로 필터링
df[['player']][df['hit'] > 0.240]

  player
0    홍길동
2    이순신