In [1]:
import pandas as pd

## 예제 4-10 멀티인덱스를 이용한 시리즈 활용

In [2]:
index = [
    ('서울',2008),
    ('서울',2010),
    ('부산',2008),
    ('부산',2010), 
    ('인천',2008),
    ('인천',2010)
]

In [3]:
mul_index = pd.MultiIndex.from_tuples(index)

In [4]:
mul_index

MultiIndex([('서울', 2008),
            ('서울', 2010),
            ('부산', 2008),
            ('부산', 2010),
            ('인천', 2008),
            ('인천', 2010)],
           )

In [5]:
mul_index.values

array([('서울', 2008), ('서울', 2010), ('부산', 2008), ('부산', 2010),
       ('인천', 2008), ('인천', 2010)], dtype=object)

In [6]:
mul_index.value_counts()

(서울, 2008)    1
(서울, 2010)    1
(부산, 2008)    1
(부산, 2010)    1
(인천, 2008)    1
(인천, 2010)    1
dtype: int64

In [7]:
mul_index.levels

FrozenList([['부산', '서울', '인천'], [2008, 2010]])

In [8]:
populations = [ 30000,37000, 18970, 19370, 20850, 25140]

In [9]:
pop = pd.Series(populations, index=mul_index)

In [10]:
pop

서울  2008    30000
    2010    37000
부산  2008    18970
    2010    19370
인천  2008    20850
    2010    25140
dtype: int64

In [11]:
pop['서울']

2008    30000
2010    37000
dtype: int64

In [12]:
pop['서울',2008]

30000

In [13]:
pop[:, 2010]

서울    37000
부산    19370
인천    25140
dtype: int64

In [14]:
# 문자열 인덱스인 경우 정렬이 되어 있지 않다면 슬라이싱 연산이 불가능하다.
try :
    pop["서울" : "인천"]
except Exception as e :
    print(e)

'Key length (1) was greater than MultiIndex lexsort depth (0)'

In [15]:
# 슬라이싱 연산을 하기 위해서는 인덱스 정렬이 필요하다.
pop = pop.sort_index()

In [16]:
pop

부산  2008    18970
    2010    19370
서울  2008    30000
    2010    37000
인천  2008    20850
    2010    25140
dtype: int64

In [17]:
pop["서울" : "인천"]

서울  2008    30000
    2010    37000
인천  2008    20850
    2010    25140
dtype: int64

In [18]:
# 행인덱스 정보를 index.names에 직접 지정할 수 있다.
pop.index.names = ['시','년도']

In [19]:
pop

시   년도
부산  2008    18970
    2010    19370
서울  2008    30000
    2010    37000
인천  2008    20850
    2010    25140
dtype: int64

In [20]:
df = pd.DataFrame(pop,columns=['인구수'])
df

           인구수
시  년도
부산 2008  18970
   2010  19370
서울 2008  30000
   2010  37000
인천 2008  20850
   2010  25140

In [21]:
df.loc['부산',:]

        인구수
년도
2008  18970
2010  19370

In [22]:
#2010 년도 인구수 집계하려면?
# 데이터 프레임워크에서는 2010 인덱스로 바로 접근이 불가능하다.
#df[2010,:]

In [23]:
# 시리즈로 가져와서 부분합을 구할수있다.
df['인구수'][:,2010]

시
부산    19370
서울    37000
인천    25140
Name: 인구수, dtype: int64

In [24]:
# 데이터 프레임으로 보고 싶다면 시리즈의 분석결과를 다시 데이터 프레임으로 만들어 분석할 수 있다.
analysis = pd.DataFrame(df['인구수'][:,2010])
analysis

      인구수
시
부산  19370
서울  37000
인천  25140

## 예제 4-11 멀티인덱스를 이용한 데이터프레임  활용

In [25]:
r_inx = pd.MultiIndex.from_product([[2017,2018],[1,2]], names=['년도','과제점수'])

In [26]:
r_inx

MultiIndex([(2017, 1),
            (2017, 2),
            (2018, 1),
            (2018, 2)],
           names=['년도', '과제점수'])

In [27]:
c_inx = pd.MultiIndex.from_product([['철수','영희','지원'],['컴공','경제']], names=['학생','학과'])

In [28]:
c_inx

MultiIndex([('철수', '컴공'),
            ('철수', '경제'),
            ('영희', '컴공'),
            ('영희', '경제'),
            ('지원', '컴공'),
            ('지원', '경제')],
           names=['학생', '학과'])

In [29]:
import numpy as np

In [30]:
data = np.round(np.abs(np.random.randn(4,6)),1)

In [31]:
data

array([[1.5, 0.9, 0.1, 0.1, 1.7, 0.4],
       [1.1, 1. , 0.8, 0.3, 0.3, 1.8],
       [0.4, 0.9, 0.7, 0.1, 1.1, 1.6],
       [0.3, 1.5, 0.6, 1. , 0.4, 1. ]])

In [32]:
study_data = pd.DataFrame(data, index=r_inx, columns=c_inx)

In [33]:
study_data

학생          철수        영희        지원
학과          컴공   경제   컴공   경제   컴공   경제
년도   과제점수
2017 1     1.5  0.9  0.1  0.1  1.7  0.4
     2     1.1  1.0  0.8  0.3  0.3  1.8
2018 1     0.4  0.9  0.7  0.1  1.1  1.6
     2     0.3  1.5  0.6  1.0  0.4  1.0

In [34]:
study_data.index

MultiIndex([(2017, 1),
            (2017, 2),
            (2018, 1),
            (2018, 2)],
           names=['년도', '과제점수'])

In [35]:
study_data.columns

MultiIndex([('철수', '컴공'),
            ('철수', '경제'),
            ('영희', '컴공'),
            ('영희', '경제'),
            ('지원', '컴공'),
            ('지원', '경제')],
           names=['학생', '학과'])

In [36]:
# 첫번째 행 인덱스 값
study_data.index[0]

(2017, 1)

In [37]:
# 두번째 행 인덱스 값
study_data.index[1]

(2017, 2)

In [38]:
# 행의 상위 인덱스명
study_data.index.names[0]

'년도'

In [39]:
# 행의 하위 인덱스명
study_data.index.names[1]

'과제점수'

In [40]:
study_data.values

array([[1.5, 0.9, 0.1, 0.1, 1.7, 0.4],
       [1.1, 1. , 0.8, 0.3, 0.3, 1.8],
       [0.4, 0.9, 0.7, 0.1, 1.1, 1.6],
       [0.3, 1.5, 0.6, 1. , 0.4, 1. ]])

In [41]:
study_data['지원']

학과          컴공   경제
년도   과제점수
2017 1     1.7  0.4
     2     0.3  1.8
2018 1     1.1  1.6
     2     0.4  1.0

In [42]:
# df[상위 열 인덱스,하위 열 인덱스]
study_data['지원','컴공']

년도    과제점수
2017  1       1.7
      2       0.3
2018  1       1.1
      2       0.4
Name: (지원, 컴공), dtype: float64

In [66]:
study_data.loc[:, ('지원','컴공')]

년도    과제점수
2017  1       1.7
      2       0.3
2018  1       1.1
      2       0.4
Name: (지원, 컴공), dtype: float64

#### 멀티 인덱스를 사용할 경우 pd.IndexSlice를 사용해서 슬라이스를 만들어서 처리

       . loc[ 행, 열] 로 표시하므로 멀티 인덱스 자체가 행과 열을 구성
       . 멀티 인덱스 내의 특정 정보를 가져오려고 해도 슬라이스로 처리가 필요

In [44]:
study_data

학생          철수        영희        지원
학과          컴공   경제   컴공   경제   컴공   경제
년도   과제점수
2017 1     1.5  0.9  0.1  0.1  1.7  0.4
     2     1.1  1.0  0.8  0.3  0.3  1.8
2018 1     0.4  0.9  0.7  0.1  1.1  1.6
     2     0.3  1.5  0.6  1.0  0.4  1.0

In [45]:
# 정렬(sort)이 안되어있기때문에 에러 발생
try :
    analysis_ky = study_data.loc[:2018, '철수':'영희']
except Exception as e :
    print(e)
analysis_ky

'Key length (1) was greater than MultiIndex lexsort depth (0)'

NameError: name 'analysis_ky' is not defined

In [46]:
study_data = study_data.sort_index(axis=1)

In [47]:
study_data

학생          영희        지원        철수
학과          경제   컴공   경제   컴공   경제   컴공
년도   과제점수
2017 1     0.1  0.1  0.4  1.7  0.9  1.5
     2     0.3  0.8  1.8  0.3  1.0  1.1
2018 1     0.1  0.7  1.6  1.1  0.9  0.4
     2     1.0  0.6  1.0  0.4  1.5  0.3

In [48]:
try :
    analysis_ky = study_data.loc[:2018, '철수':'영희']
except Exception as e :
    print(e)
analysis_ky
# 열이름이 정렬이 되었기 때문에 에러는 발생하지 않지만 조회는 되지 않는다.

Empty DataFrame
Columns: []
Index: [(2017, 1), (2017, 2), (2018, 1), (2018, 2)]

In [49]:
study_data.loc[:2018, '영희':'지원']

학생          영희        지원
학과          경제   컴공   경제   컴공
년도   과제점수
2017 1     0.1  0.1  0.4  1.7
     2     0.3  0.8  1.8  0.3
2018 1     0.1  0.7  1.6  1.1
     2     1.0  0.6  1.0  0.4

In [50]:
# IndexSlice 속성을 사용하면 복합인덱스 차원에 맞게 검색이 가능하다.
study_data.loc[pd.IndexSlice[:,1], pd.IndexSlice[:, '컴공']]

학생          영희   지원   철수
학과          컴공   컴공   컴공
년도   과제점수
2017 1     0.1  1.7  1.5
2018 1     0.7  1.1  0.4

In [68]:
# indexSlice 속성을 사용하면 복합인덱스 차원에 맞게 검색이 가능하다.
# 슬라이싱으로 시작과 끝의 조건을 지정할 수도 있다.
study_data.loc[pd.IndexSlice[:,1:2], pd.IndexSlice[:, '컴공']]

학생          영희   지원   철수
학과          컴공   컴공   컴공
년도   과제점수
2017 1     0.1  1.7  1.5
     2     0.8  0.3  1.1
2018 1     0.7  1.1  0.4
     2     0.6  0.4  0.3

In [61]:
study_data

학생          영희        지원        철수
학과          경제   컴공   경제   컴공   경제   컴공
년도   과제점수
2017 1     0.1  0.1  0.4  1.7  0.9  1.5
     2     0.3  0.8  1.8  0.3  1.0  1.1
2018 1     0.1  0.7  1.6  1.1  0.9  0.4
     2     1.0  0.6  1.0  0.4  1.5  0.3

In [51]:
study_data.index

MultiIndex([(2017, 1),
            (2017, 2),
            (2018, 1),
            (2018, 2)],
           names=['년도', '과제점수'])

In [52]:
study_data.index.levels[0].dtype

dtype('int64')

In [53]:
study_data.index.levels[1].dtype

dtype('int64')

In [54]:
study_data.xs((2017,1))

학생  학과
영희  경제    0.1
    컴공    0.1
지원  경제    0.4
    컴공    1.7
철수  경제    0.9
    컴공    1.5
Name: (2017, 1), dtype: float64

In [55]:
study_data.xs(2017)

학생     영희        지원        철수
학과     경제   컴공   경제   컴공   경제   컴공
과제점수
1     0.1  0.1  0.4  1.7  0.9  1.5
2     0.3  0.8  1.8  0.3  1.0  1.1

In [56]:
study_data.columns.levels[0].dtype

dtype('O')

In [57]:
study_data.columns.levels[1].dtype

dtype('O')

In [70]:
study_data.xs(('지원','컴공'), axis=1)

년도    과제점수
2017  1       1.7
      2       0.3
2018  1       1.1
      2       0.4
Name: (지원, 컴공), dtype: float64