In [11]:
import json
import pandas as pd

def open_json(file_name, encoding):
    with open(file_name, encoding=encoding) as json_file: 
        json_object = json.load(json_file)
        json_string = json.dumps(json_object)
        json_data = json.loads(json_string)
    return json_data

student_zero2 = open_json('student_zero2.json','cp949')
student_zero2

{'response': {'body': {'student_list': [{'age': 46,
     'major': '경영학',
     'name': '영호',
     'sex': '남'},
    {'age': 30, 'major': '정치외교', 'name': '세중', 'sex': '남'},
    {'age': 30, 'major': '신문방송학', 'name': '치우', 'sex': '남'}]}}}

In [12]:
student_zero2 = student_zero2['response']['body']['student_list']

In [13]:
column_list = []
all_data = []

is_first = True

for student in student_zero2:
    row_data_list = []
    for key,value in student.items():
        if is_first:
            column_list.append(key)
        row_data_list.append(value)
    all_data.append(row_data_list)
    is_first = False

In [14]:
column_list

['age', 'major', 'name', 'sex']

In [17]:
student_data = pd.DataFrame(all_data, columns = column_list)

student_data

   age  major name sex
0   46    경영학   영호   남
1   30   정치외교   세중   남
2   30  신문방송학   치우   남

In [23]:
import json
with open('student_zero2.json','w',encoding='cp949') as outfile:
    readable_result = json.dumps(student_zero2,indent=4,sort_keys=True,ensure_ascii=False)
    outfile.write(readable_result)
    print('json file saved')

json file saved

In [24]:
student_data.to_csv('student_zero2.csv', encoding='cp949', index=False)