In [67]:
import pandas as pd
import numpy as np

from sklearn.feature_extraction.text import CountVectorizer  # 피체 벡터화
from sklearn.metrics.pairwise import cosine_similarity  # 코사인 유사도

from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select
import time

In [68]:
'''
데이터 파일 로드
'''
Gyeonggi = pd.read_csv('경기.CSV',encoding='utf-8')
Seoul = pd.read_csv('서울.csv',encoding='utf-8')
incheon = pd.read_csv('인천.csv',encoding='utf-8')

In [72]:
'''

'''
Gyeonggi_byc = Gyeonggi.copy()
Seoul_byc = Seoul.copy()
incheon_byc = incheon.copy()
################################################################################################################
Gyeonggi_byc=Gyeonggi_byc[['상호명','상권업종소분류명','시군구명','도로명','경도', '위도']]

Gyeonggi_byc.drop(Gyeonggi_byc[Gyeonggi_byc['상권업종소분류명'] != "자전거판매"].index, inplace=True)
Gyeonggi_byc.reset_index(inplace=True)
Gyeonggi_byc.drop(['index'],axis=1,inplace=True)

In [73]:
Gyeonggi_byc

             상호명 상권업종소분류명 시군구명                    도로명          경도         위도
0         삼천리자전거    자전거판매  부천시            경기도 부천시 소사로  126.804539  37.525664
1    삼천리자전거이천대리점    자전거판매  이천시           경기도 이천시 애련정로  127.450470  37.278554
2    삼천리자전거고촌대리점    자전거판매  김포시       경기도 김포시 고촌읍 김포대로  126.769900  37.601256
3         삼천리자전거    자전거판매  양평군        경기도 양평군 양평읍 양근로  127.493442  37.487287
4         삼천리자전거    자전거판매  고양시       경기도 고양시 일산서구 원일로  126.775793  37.685211
..           ...      ...  ...                    ...         ...        ...
204     모노스앤파블로스    자전거판매  용인시        경기도 용인시 수지구 고기로  127.089455  37.346604
205        자바코리아    자전거판매  안양시  경기도 안양시 동안구 관악대로342번길  126.961574  37.402660
206         오토스타    자전거판매  하남시           경기도 하남시 미사대로  127.206447  37.556765
207          비머원    자전거판매  구리시       경기도 구리시 수택천로33번길  127.145877  37.599864
208        국대자전거    자전거판매  김포시            경기도 김포시 승가로  126.721937  37.606756

[209 rows x 6 columns]

In [80]:
# 네이버 지도로 검색할 키워드는 상호명 + 도로명을 만들어서 한다.
# for 문을 돌려서 네이버 지도로 검색을 한다
# 검색결과가 나오지 않은 값들은 없어진 곳이라고 간주하고 drop시킨다
def sangjone(df) :  
    for i, keyword in enumerate(df['상호명']) :

    #     if == '조건없습니다 어쩌구' : 
    #         Gyeonggi_byc['생존여부'] = 'x'
    #     else :
    #         Gyeonggi_byc['생존여부'] = 'o'

        print(i,keyword)
    pass

In [ ]:
# 오라클 연결
# 테이블 생성 후 데이터 삽입