In [1]:
import pandas as pd

input_file = 'sales_2013.xlsx'
output_file = 'output_files/6output_basic_pandas.xlsx'

data_frame = pd.read_excel(input_file, sheet_name = 'january_2013')

data_frame

C:\Users\TJ\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

   Customer ID       Customer Name Invoice Number  Sale Amount Purchase Date
0         1234          John Smith       100-0002         1200    2013-01-01
1         2345       Mary Harrison       100-0003         1425    2013-01-06
2         3456          Lucy Gomez       100-0004         1390    2013-01-11
3         4567        Rupert Jones       100-0005         1257    2013-01-18
4         5678       Jenny Walters       100-0006         1725    2013-01-24
5         6789  Samantha Donaldson       100-0007         1995    2013-01-31

In [11]:
data_j = data_frame.loc[data_frame['Customer Name'].str.startswith('J')]

data_j

   Customer ID  Customer Name Invoice Number  Sale Amount Purchase Date
0         1234     John Smith       100-0002         1200    2013-01-01
4         5678  Jenny Walters       100-0006         1725    2013-01-24

In [12]:
writer = pd.ExcelWriter(output_file)

data_j.to_excel(writer, sheet_name = 'jan_13_output', index = False)
writer.save()