In [1]:
import cx_Oracle
import pandas as pd

In [2]:
conn = cx_Oracle.connect('open_source/1111@localhost:1521/xe')
cur = conn.cursor()
cur.execute("""
SELECT column_name from cols
where table_name = 'MUSEUM'
""")

In [3]:
column_list = [record[0] for record in cur]
column_list

['시설명',
 '박물관미술관구분',
 '소재지도로명주소',
 '위도',
 '경도',
 '운영기관명',
 '편의시설정보',
 '어른관람료',
 '청소년관람료',
 '어린이관람료',
 '제공기관코드']

In [4]:
cur.execute('select * from museum')
df = pd.DataFrame(cur, columns=column_list)
df.head()

,시설명,박물관미술관구분,소재지도로명주소,위도,경도,운영기관명,편의시설정보,어른관람료,청소년관람료,어린이관람료,제공기관코드
0,추사박물관,공립,경기도 과천시 추사로 78(주암동),37.453005,127.028725,추사박물관,None,2000,1000,500,3970000
1,선바위미술관,사립,경기도 과천시 무네미길 34,37.451773,126.999303,김옥분(개인),None,4000,3000,2000,3970000
2,아해한국전통문화어린이박물관,사립,경기도 과천시 추사로 133,37.457620,127.029979,문미옥(개인),None,5000,5000,5000,3970000
3,한국카메라박물관,사립,경기도 과천시 대공원광장로 8,37.435053,127.005667,김종세(개인),None,5000,5000,5000,3970000
4,말박물관,사립,경기도 과천시 경마공원대로 107,37.441200,127.016127,한국마사회,None,0,0,0,3970000

In [5]:
df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2079 entries, 0 to 2078
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시설명       2079 non-null   object
 1   박물관미술관구분  2079 non-null   object
 2   소재지도로명주소  2078 non-null   object
 3   위도        2079 non-null   float64
 4   경도        2078 non-null   float64
 5   운영기관명     2079 non-null   object
 6   편의시설정보    404 non-null    object
 7   어른관람료     2079 non-null   int64
 8   청소년관람료    2079 non-null   int64
 9   어린이관람료    2079 non-null   int64
 10  제공기관코드    2079 non-null   object
dtypes: float64(2), int64(3), object(6)
memory usage: 1.1 MB

In [6]:
df.memory_usage(deep=True)

Index          128
시설명         203614
박물관미술관구분    178794
소재지도로명주소    256286
위도           16632
경도           16632
운영기관명       202371
편의시설정보       83392
어른관람료        16632
청소년관람료       16632
어린이관람료       16632
제공기관코드      133056
dtype: int64

In [7]:
del df

---

## Selection and Projection Query

In [8]:
cur.execute("""
SELECT 시설명, 박물관미술관구분, 청소년관람료
from museum
where 청소년관람료 > 1500
""")

In [9]:
print("Selection and Projection Query")
df = pd.DataFrame(cur, columns=['시설명', '박물관미술관구분','청소년관람료'])
df.head()

Selection and Projection Query

                시설명 박물관미술관구분  청소년관람료
0            선바위미술관       사립    3000
1    아해한국전통문화어린이박물관       사립    5000
2          한국카메라박물관       사립    5000
3    현대어린이책미술관 MOKA       사립    6000
4  신구대학교 식물원 갤러리 우촌       사립    5000

In [10]:
df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 562 entries, 0 to 561
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시설명       562 non-null    object
 1   박물관미술관구분  562 non-null    object
 2   청소년관람료    562 non-null    int64
dtypes: int64(1), object(2)
memory usage: 105.3 KB