In [3]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
penguins = sns.load_dataset('penguins')

In [4]:
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [5]:
penguins.dropna(inplace=True)

In [6]:
penguins.replace('Biscoe',0,inplace=True)
penguins.replace('Dream',1,inplace=True)
penguins.replace('Torgersen',2,inplace=True)
penguins.replace('Adelie',0,inplace=True)
penguins.replace('Gentoo',1,inplace=True)
penguins.replace('Chinstrap',2,inplace=True)
penguins.replace('Male',0,inplace=True)
penguins.replace('Female',1,inplace=True)

In [7]:
penguins['species'].value_counts()

0    146
1    119
2     68
Name: species, dtype: int64

In [8]:
penguins=penguins[penguins['species'] != 2]

In [9]:
penguins['species'].value_counts()

0    146
1    119
Name: species, dtype: int64

In [10]:
feature = penguins[penguins.columns.difference(['species'])]
label = penguins['species']

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [12]:
train_input, test_input, train_target, test_target = train_test_split(
    feature, label,stratify=label, random_state=265)

In [13]:
print(train_target.shape, test_target.shape)

(198,) (67,)

In [14]:
print(len(train_input), len(test_input))

198 67

In [15]:
print(test_target)

341    1
46     0
44     0
271    1
270    1
      ..
327    1
325    1
59     0
109    0
52     0
Name: species, Length: 67, dtype: int64

In [16]:
mean = np.mean(train_input, axis=0)
std = np.std(train_input, axis=0)

In [17]:
print(mean, std)

bill_depth_mm          16.798485
bill_length_mm         42.583333
body_mass_g          4283.459596
flipper_length_mm     201.797980
island                  0.570707
sex                     0.540404
dtype: float64 bill_depth_mm          2.040214
bill_length_mm         5.078144
body_mass_g          814.538678
flipper_length_mm     14.771991
island                 0.799337
sex                    0.498365
dtype: float64

In [18]:
train_scaled=(train_input-mean)/std

In [19]:
test_scaled = ((test_input) - mean) / std

In [20]:
kn = KNeighborsClassifier()

In [21]:
kn.fit(train_input, train_target)

KNeighborsClassifier()

In [22]:
kn.score(train_input, train_target)

0.9444444444444444

In [23]:
kn.fit(train_scaled, train_target)

KNeighborsClassifier()

In [24]:
kn.score(test_scaled, test_target)

1.0