In [1]:
import pandas as pd

## 예제 2-15 논리식 검색

In [2]:
sat = pd.read_csv("../data/2014_korea_sat_scores.csv",encoding='euc-kr').dropna(axis=1)

In [3]:
type(sat)

pandas.core.frame.DataFrame

In [4]:
sat.head()

   등급     과목 구분점수  도수(명)  비율(%)
0   1  국어 A형  128  13866   4.30
1   2  국어 A형  123  23599   7.32
2   3  국어 A형  116  42470  13.17
3   4  국어 A형  108  52640  16.32
4   5  국어 A형   97  63896  19.81

In [4]:
sat.shape

(342, 5)

In [5]:
sat['도수(명)'].dtype

dtype('int64')

In [5]:
import numpy as np

In [6]:
sat['도수(명)']

0      13866
1      23599
2      42470
3      52640
4      63896
       ...
337     1324
338     1075
339      873
340      233
341      216
Name: 도수(명), Length: 342, dtype: int64

In [10]:
type(sat['도수(명)'])

pandas.core.series.Series

In [17]:
# '도수(명)'이 20000명보다 작은 조건 매핑
(sat['도수(명)'] < 20000)

0       True
1      False
2      False
3      False
4      False
       ...
337     True
338     True
339     True
340     True
341     True
Name: 도수(명), Length: 342, dtype: bool

In [ ]:
# 위 논리식의 결과를 인덱스 검색에 넣으면 True인 행만 추출

In [18]:
sat[sat['도수(명)'] < 20000]

     등급     과목  구분점수  도수(명)  비율(%)
0     1  국어 A형   128  13866   4.30
8     9  국어 A형  60미만  12554   3.89
9     1  국어 B형   127  12615   4.45
16    8  국어 B형    59  19943   7.03
17    9  국어 B형  59미만  10868   3.83
..   ..    ...   ...    ...    ...
337   5    한문Ⅰ    45   1324  20.92
338   6    한문Ⅰ    42   1075  16.99
339   7    한문Ⅰ    39    873  13.79
340   8    한문Ⅰ    37    233   3.68
341   9    한문Ⅰ  37미만    216   3.41

[294 rows x 5 columns]

## 예제 2-16  다중 논리식 검색

In [ ]:
# and => &, or => |, not => ~

In [13]:
l_sat = ((sat['도수(명)'] < 20000) & (sat['비율(%)'] <= 5.0))

In [14]:
l_sat.shape

(342,)

In [16]:
l_sat

0       True
1      False
2      False
3      False
4      False
       ...
337    False
338    False
339    False
340     True
341     True
Length: 342, dtype: bool

In [ ]:
# True 갯수의 총합

In [19]:
l_sat.sum()

71

In [20]:
sat_logic = sat[l_sat]

In [21]:
sat_logic.shape

(71, 5)

In [22]:
sat_logic

     등급       과목  구분점수  도수(명)  비율(%)
0     1    국어 A형   128  13866   4.30
8     9    국어 A형  60미만  12554   3.89
9     1    국어 B형   127  12615   4.45
17    9    국어 B형  59미만  10868   3.83
18    1    수학 A형   137  19675   4.77
..   ..      ...   ...    ...    ...
323   9     아랍어Ⅰ  41미만    322   3.23
324   1  기초 베트남어    81    953   4.17
332   9  기초 베트남어  40미만    630   2.76
340   8      한문Ⅰ    37    233   3.68
341   9      한문Ⅰ  37미만    216   3.41

[71 rows x 5 columns]

## 예제 2-17 시리즈에 논리식 검색

In [24]:
sat_ser =  sat['도수(명)']

In [25]:
sat_ser

0      13866
1      23599
2      42470
3      52640
4      63896
       ...
337     1324
338     1075
339      873
340      233
341      216
Name: 도수(명), Length: 342, dtype: int64

In [ ]:
# 논리 검색은 시리즈에서도 DataFrame 과 마찬가지로 적용된다.

In [26]:
sat_ser[sat_ser < 20000]

0      13866
8      12554
9      12615
16     19943
17     10868
       ...
337     1324
338     1075
339      873
340      233
341      216
Name: 도수(명), Length: 294, dtype: int64

In [34]:
# 294개의 레코드
sat_ser[sat_ser < 20000].shape

(294,)

In [35]:
sat_ser[sat_ser < 20000].head()

0     13866
8     12554
9     12615
16    19943
17    10868
Name: 도수(명), dtype: int64