## 예제 2-9 시리즈로 데이터프레임생성

In [1]:
import pandas as pd

In [2]:
# 각각의 열데이터를 만들어 추가한다.
# 데이터분석시도 할 때 많이 사용한다.
s1 = pd.Series([1,2,3,4], name = 's1')
s2 = pd.Series(['a','b','c','d'], name = 's2')

In [3]:
s1

0    1
1    2
2    3
3    4
Name: s1, dtype: int64

In [5]:
s2

0    a
1    b
2    c
3    d
Name: s2, dtype: object

In [16]:
# dict인 경우 키가 열로 들어간다.
df = pd.DataFrame({'s1':s1,'s2':s2})

In [8]:
df

   s1 s2
0   1  a
1   2  b
2   3  c
3   4  d

In [9]:
df['s1']

0    1
1    2
2    3
3    4
Name: s1, dtype: int64

In [11]:
# 위에서 구성한 s1 시리즈와 같은가?
s1 == df['s1']

0    True
1    True
2    True
3    True
Name: s1, dtype: bool

In [12]:
# dict가 아닌경우 시리즈의 이름이 행 한단위로 들어간다.
# 다음 다음 예제와 같은 원리
df_a = pd.DataFrame([s1,s2])

In [13]:
df_a

    0  1  2  3
s1  1  2  3  4
s2  a  b  c  d

In [14]:
# 개별 array가 행단위로 들어간다
df_b = pd.DataFrame(
    [
    [1,2,3,4],
    ['a','b','c','d']
    ]
)

In [15]:
df_b

   0  1  2  3
0  1  2  3  4
1  a  b  c  d