## 예제 2-11 데이터프레임의 기본속성 알아보기

In [1]:
import pandas as pd

In [2]:
# names, births : list 2개
# Bob 968 하나의 튜플로 만들어진다.
# zip(,) :  2개의 리스트가 동일한 경우 ... 튜플형태로 매핑한다.
names = ['Bob','Jessica','Mary','John','Mel']
births = [968,155,77,578,973]
BabyDataSet = list(zip(names,births))

In [3]:
BabyDataSet

[('Bob', 968), ('Jessica', 155), ('Mary', 77), ('John', 578), ('Mel', 973)]

In [4]:
df = pd.DataFrame(data = BabyDataSet, columns = ['Names','Births'])

In [6]:
df

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

In [8]:
# dtype = object .. String 문자열이 있으면 object로 판단 (개별타입아님.)
df.values

array([['Bob', 968],
       ['Jessica', 155],
       ['Mary', 77],
       ['John', 578],
       ['Mel', 973]], dtype=object)

In [10]:
# 각각의 인덱스 정보 (행,열)
df.axes

[RangeIndex(start=0, stop=5, step=1),
 Index(['Names', 'Births'], dtype='object')]

In [11]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [12]:
df.columns

Index(['Names', 'Births'], dtype='object')

In [14]:
# 각각의 행, 열 데이터타입을 보여준다.
df.dtypes

Names     object
Births     int64
dtype: object

In [15]:
df.shape, df.ndim, df.size

((5, 2), 2, 10)