## 예제 2-10 딕셔너리가 원소인 딕셔너리로 데이터프레임 생성

In [2]:
import pandas as pd

In [5]:
# dict 키는 열로 지정값이 중첩된 dict라면 여기에서의 키는 각각 행의 이름으로 매칭
# 예) AAA는 열 , 중첩되어있는 'a','b','c' key값은 행인덱스이다.
data = {
    'AAA':{'a':4,'b':5,'c':6,'d':7},
    'BBB':{'a':10,'b':20,'c':30,'d':40},
    'CCC':{'a':100,'b':50,'c':-30,'d':-50}
}

In [6]:
df = pd.DataFrame(data)

In [7]:
df

   AAA  BBB  CCC
a    4   10  100
b    5   20   50
c    6   30  -30
d    7   40  -50

In [8]:
# 컬럼을 재정의하여 기존의 DataFrame을 필터링한다.
df2 = pd.DataFrame(data, columns = ['AAA','CCC'])

In [9]:
df2

   AAA  CCC
a    4  100
b    5   50
c    6  -30
d    7  -50