## 예제 2-4 파일에 저장된 멤버정보를 읽어와서 확인하기

In [1]:
import pandas as pd

In [10]:
df_f = pd.read_csv('../data/series_dataframe.csv',
                  usecols = ['Member','Series','DataFrame'],
                  encoding = 'euc-kr')

In [11]:
df_f.head()

       Member      Series   DataFrame
0           T           T           T
1         abs         abs         abs
2         add         add         add
3  add_prefix  add_prefix  add_prefix
4  add_suffix  add_suffix  add_suffix

In [13]:
# 전체 행, 열
# 1행을 헤더로 사용하였기때문에 전체 데이터는 헤더를 제외한 264가 된다.
df_f.shape

(264, 3)

In [15]:
# Series열만 뽑아낸다
df_f['Series'].head()

0             T
1           abs
2           add
3    add_prefix
4    add_suffix
Name: Series, dtype: object

In [17]:
# Series열에 데이터가없는 셀의 총합
# Series열에 null값이 몇개? => 29
df_f['Series'].isnull().sum()

29

In [18]:
df_f['Series'].head(15)

0              T
1            abs
2            add
3     add_prefix
4     add_suffix
5            agg
6      aggregate
7          align
8            all
9            any
10        append
11         apply
12           NaN
13        argmax
14        argmin
Name: Series, dtype: object

In [19]:
df_f['DataFrame'].isnull().sum()

41

In [21]:
# 비교하여 Series반환
(df_f['Member'] == df_f['Series']).head()

0    True
1    True
2    True
3    True
4    True
dtype: bool