## 예제 2-13 대괄호를 이용한 일반 검색

In [1]:
import pandas as pd

In [3]:
ct = pd.read_csv("../data/2017_college_tuition.csv",encoding='euc-kr')

In [4]:
ct_ser = ct['학교명']

In [6]:
ct_ser.head()

0      강릉원주대학교
1        강원대학교
2    경남과학기술대학교
3        경북대학교
4        경상대학교
Name: 학교명, dtype: object

In [7]:
ct_ser[0]

'강릉원주대학교'

In [8]:
ct_ser[1]

'강원대학교'

In [9]:
# 100번째
ct_ser[100]

'부산장신대학교'

In [12]:
ct_ser.__getitem__(100)

'부산장신대학교'

In [13]:
# => ct_ser = ct['학교명']
ct.__getitem__('학교명').head()

0      강릉원주대학교
1        강원대학교
2    경남과학기술대학교
3        경북대학교
4        경상대학교
Name: 학교명, dtype: object