In [1]:
import pandas as pd

## 예제 8-7  eval 함수와 메소드 처리하기

In [2]:
import numpy as np

In [3]:
rng = np.random.RandomState(42)

In [4]:
nrows, ncols = 100000, 10

In [5]:
print(type(pd.DataFrame(rng.rand(nrows, ncols)) for i in range(2)))

<class 'generator'>

In [6]:
# 0,1 두번 for문의 루프가 반복되면서 nrows, ncols 크기의 데이터 프레임을 각각 생성한다.
df1, df2 = (pd.DataFrame(rng.rand(nrows, ncols))for i in range(2))

In [7]:
df1.head()

,0,1,2,3,4,5,6,7,8,9
0,0.374540,0.950714,0.731994,0.598658,0.156019,0.155995,0.058084,0.866176,0.601115,0.708073
1,0.020584,0.969910,0.832443,0.212339,0.181825,0.183405,0.304242,0.524756,0.431945,0.291229
2,0.611853,0.139494,0.292145,0.366362,0.456070,0.785176,0.199674,0.514234,0.592415,0.046450
3,0.607545,0.170524,0.065052,0.948886,0.965632,0.808397,0.304614,0.097672,0.684233,0.440152
4,0.122038,0.495177,0.034389,0.909320,0.258780,0.662522,0.311711,0.520068,0.546710,0.184854

In [8]:
df2.head()

,0,1,2,3,4,5,6,7,8,9
0,0.595156,0.364717,0.005376,0.561088,0.896570,0.531717,0.780488,0.161954,0.137298,0.893944
1,0.782998,0.347410,0.800172,0.075326,0.517900,0.881456,0.843601,0.371253,0.228849,0.867865
2,0.266901,0.822025,0.266517,0.984533,0.360120,0.255362,0.599228,0.359710,0.810427,0.732750
3,0.632495,0.422013,0.834611,0.306137,0.295722,0.091476,0.563500,0.696945,0.712998,0.861404
4,0.567160,0.025521,0.175390,0.561330,0.317477,0.864216,0.228547,0.255269,0.842986,0.581316

In [9]:
(df1+df2).head(5)

,0,1,2,3,4,5,6,7,8,9
0,0.969696,1.315431,0.737370,1.159746,1.052589,0.687711,0.838571,1.028130,0.738413,1.602016
1,0.803583,1.317320,1.632615,0.287665,0.699725,1.064861,1.147843,0.896010,0.660794,1.159094
2,0.878754,0.961518,0.558662,1.350895,0.816190,1.040538,0.798902,0.873944,1.402842,0.779200
3,1.240040,0.592538,0.899663,1.255023,1.261354,0.899873,0.868114,0.794617,1.397231,1.301557
4,0.689199,0.520698,0.209779,1.470651,0.576257,1.526738,0.540258,0.775337,1.389696,0.766170

In [10]:
 pd.eval('df1 + df2').head(5)

,0,1,2,3,4,5,6,7,8,9
0,0.969696,1.315431,0.737370,1.159746,1.052589,0.687711,0.838571,1.028130,0.738413,1.602016
1,0.803583,1.317320,1.632615,0.287665,0.699725,1.064861,1.147843,0.896010,0.660794,1.159094
2,0.878754,0.961518,0.558662,1.350895,0.816190,1.040538,0.798902,0.873944,1.402842,0.779200
3,1.240040,0.592538,0.899663,1.255023,1.261354,0.899873,0.868114,0.794617,1.397231,1.301557
4,0.689199,0.520698,0.209779,1.470651,0.576257,1.526738,0.540258,0.775337,1.389696,0.766170

In [11]:
%timeit df1 + df2

3.25 ms ± 124 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [12]:
%timeit pd.eval('df1 + df2')

4.21 ms ± 89.6 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [13]:
# 두 연산의 결과가 같은지 판단하여 True/False를 반환함
np.allclose(df1 + df2 ,pd.eval('df1 + df2 '))

True

In [14]:
nrows1, ncols1 = 100000, 100

In [15]:
df11, df12,df13, df14 = (pd.DataFrame(rng.rand(nrows1, ncols1))for i in range(4))

In [16]:
%timeit df11 + df12 + df13 + df14

96.4 ms ± 6.23 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [17]:
# 보다 많은 데이터를 생성하고 데이터 프레임도 확대대는 경우 좋은 성능을 낼 수 있다.
%timeit pd.eval('df11 + df12 + df13 + df14')

42.1 ms ± 1.11 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [18]:
dfa1 = pd. DataFrame(np.random.randn(10, 2), columns=['평균','분산'])

In [19]:
dfa1

         평균        분산
0  0.086883  0.398225
1  0.313659  0.289745
2  1.087594  0.185267
3 -0.950871  0.707735
4 -1.056072 -0.983585
5 -0.444928  0.422728
6  0.376443  1.458832
7  1.620327 -0.479999
8  0.755556  0.506155
9  0.526981  0.340220

In [20]:
dfa1.eval( '평균 + 분산 ')

0    0.485108
1    0.603404
2    1.272861
3   -0.243136
4   -2.039656
5   -0.022200
6    1.835275
7    1.140328
8    1.261712
9    0.867201
dtype: float64

In [21]:
dfa1.eval( '편차  = 평균 - 분산 ')

         평균        분산        편차
0  0.086883  0.398225 -0.311342
1  0.313659  0.289745  0.023913
2  1.087594  0.185267  0.902328
3 -0.950871  0.707735 -1.658606
4 -1.056072 -0.983585 -0.072487
5 -0.444928  0.422728 -0.867656
6  0.376443  1.458832 -1.082389
7  1.620327 -0.479999  2.100326
8  0.755556  0.506155  0.249401
9  0.526981  0.340220  0.186761

In [22]:
# 자기 자신을 바꾸지는 않는다.
dfa1

         평균        분산
0  0.086883  0.398225
1  0.313659  0.289745
2  1.087594  0.185267
3 -0.950871  0.707735
4 -1.056072 -0.983585
5 -0.444928  0.422728
6  0.376443  1.458832
7  1.620327 -0.479999
8  0.755556  0.506155
9  0.526981  0.340220

In [23]:
dfa1.eval( '편차 = 평균 - 분산 ', inplace=True)

In [24]:
dfa1

         평균        분산        편차
0  0.086883  0.398225 -0.311342
1  0.313659  0.289745  0.023913
2  1.087594  0.185267  0.902328
3 -0.950871  0.707735 -1.658606
4 -1.056072 -0.983585 -0.072487
5 -0.444928  0.422728 -0.867656
6  0.376443  1.458832 -1.082389
7  1.620327 -0.479999  2.100326
8  0.755556  0.506155  0.249401
9  0.526981  0.340220  0.186761

In [25]:
dfa2 = pd. DataFrame(np.random.randn(10, 2), columns=range(0,2))

In [26]:
dfa2

          0         1
0  1.318233  0.348035
1 -0.612116  0.042431
2 -0.452761  1.036905
3 -2.091335 -0.121085
4  0.587499 -0.795530
5 -1.506637  0.443815
6 -0.161614  0.570592
7 -2.494104 -1.327823
8  1.160573  0.788533
9 -0.051074  0.357979

In [27]:
# 열이름을 사용하여 연산을 할 수 있을까?
dfa2.eval( '0 +1 ')

1

In [28]:
# .을 통해 열 접근은?
try :
    pd.eval('dfa2.0 + dfa2.1')
except Exception as e  :
    print("exception ", e)

exception  invalid syntax (<unknown>, line 1)

In [29]:
# 올바른 사용예
try :
    df_add = pd.eval('dfa2[0] + dfa2[1]')
except Exception as e  :
    print("exception ", e)

In [30]:
df_add

0    1.666268
1   -0.569685
2    0.584144
3   -2.212420
4   -0.208032
5   -1.062822
6    0.408978
7   -3.821927
8    1.949106
9    0.306905
dtype: float64

In [31]:
df1, df2, df3, df4, df5 = (pd.DataFrame(rng.randint(0, 1000, (100, 3)))
                           for i in range(5))

In [32]:
result1 = -df1 * df2 / (df3 + df4) - df5

In [33]:
result2 = pd.eval('-df1 * df2 / (df3 + df4) - df5')

In [34]:
np.allclose(result1, result2)

True

In [35]:
result1 = (df1 < 0.5) & (df2 < 0.5) | (df3 < df4)

In [36]:
result2 = pd.eval('(df1 < 0.5) & (df2 < 0.5) | (df3 < df4)')

In [37]:
np.allclose(result1, result2)

True

In [49]:
result3 = pd.eval('(df1 < 0.5) and (df2 < 0.5) or (df3 < df4)')

In [39]:
np.allclose(result1, result3)

True

In [40]:
df = pd. DataFrame(np.random.randn(10, 2), columns=list('AB'))

In [41]:
df

          A         B
0  0.225812  0.641177
1  0.759894  1.938009
2  0.802900  0.767901
3 -0.498386 -0.003543
4 -2.544918  0.591109
5  1.255388  0.065711
6 -1.798379 -0.855205
7 -0.341186 -0.311976
8  0.841694  0.909020
9  2.535520  0.270691

In [42]:
column_mean = df.mean(axis=1)

In [43]:
column_mean.head()

0    0.433495
1    1.348951
2    0.785401
3   -0.250964
4   -0.976905
dtype: float64

In [44]:
result1 = df['A'] + column_mean

In [51]:
result1

0    0.659307
1    2.108845
2    1.588301
3   -0.749350
4   -3.521823
5    1.915938
6   -3.125171
7   -0.667767
8    1.717051
9    3.938625
dtype: float64

In [45]:
result2 = df.eval('A + @column_mean')

In [46]:
np.allclose(result1, result2)

True

### eval함수 장점
* 대규모 복잡한 데이터 프레임워크 간의 연산에서 좋은 성능을 낼 수 있다.
* 연산시 변수 처리를 할 수 있어 대화형(interactive) 한 검색을 할 수 있다

### eval함수 단점
* 간단한 연산 수행시 성능상의 차이가 없다. 또는 나쁠 수 있다.
* 특정 연산에 제약이 있을 수 있다.