In [134]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import font_manager,rc

import random

font_location = "C:\Windows\Fonts\malgun.ttf"
font_name = font_manager.FontProperties(fname=font_location).get_name()
rc('font',family=font_name)
plt.rcParams['axes.unicode_minus'] = False

# read_csv 함수로 데이터를 Dataframe 형태로 불러옵니다.
#file_path = '../data/chipotle.tsv'
#chipo = pd.read_csv(file_path, sep = '\t')

In [135]:
file_path = '../../../01_Pandas_basic/data/musicData2.csv'

musicData = pd.read_csv(file_path)

In [136]:
musicData.shape

(2178, 9)

In [137]:
musicData.head(10)

,Year,Month,Album Title,Artist Name,Genre,Date,Distribution,Rating,Music Count
0,2017,1,Boys and Girls Music Vol. 1,샘김,알앤비/어반,2017.01.25,로엔 엔터테인먼트,8.6,2
1,2017,1,여자친구 The 1st Album 'LOL',여자친구(GFRIEND),댄스,2016.07.11,로엔엔터테인먼트,8.1,12
2,2017,1,Collage (EP),The Chainsmokers,일렉트로니카,2016.11.05,소니뮤직,7.5,5
3,2017,1,If You,에일리,발라드,2016.08.23,로엔 엔터테인먼트,6.9,1
4,2017,1,세 단어,젝스키스,발라드,2016.10.07,YG PLUS,9.0,1
5,2017,1,푸른 바다의 전설 OST Part 1,린,드라마음악,2016.11.17,로엔 엔터테인먼트,8.1,2
6,2017,1,신현희와김루트,신현희와김루트,"포크, 인디뮤직",2015.02.26,Mirrorball Music,8.1,6
7,2017,1,도깨비 OST Part 11,Various Artists,드라마음악,2017.01.09,(주)지니뮤직,8.8,3
8,2017,1,From. 우주소녀,우주소녀,댄스,2017.01.04,로엔 엔터테인먼트,8.2,6
9,2017,1,응답하라 1988 OST Part 2,이적,드라마음악,2015.11.07,(주)지니뮤직,8.6,1

In [138]:
musicData.tail(10)

,Year,Month,Album Title,Artist Name,Genre,Date,Distribution,Rating,Music Count
2168,2018,10,Present : YOU,GOT7 (갓세븐),"댄스, 발라드, 알앤비/어반, 랩/힙합, 락",2018.09.17,(주)아이리버,8.3,16
2169,2018,10,Present : YOU,GOT7 (갓세븐),"댄스, 발라드, 알앤비/어반, 랩/힙합, 락",2018.09.17,(주)아이리버,8.3,16
2170,2018,10,LOVE YOURSELF 結 ‘Answer’,방탄소년단,랩/힙합,2018.08.24,(주)아이리버,8.4,26
2171,2018,10,Present : YOU,GOT7 (갓세븐),"댄스, 발라드, 알앤비/어반, 랩/힙합, 락",2018.09.17,(주)아이리버,8.3,16
2172,2018,10,Present : YOU,GOT7 (갓세븐),"댄스, 발라드, 알앤비/어반, 랩/힙합, 락",2018.09.17,(주)아이리버,8.3,16
2173,2018,10,RECIPE,벤,발라드,2018.05.08,(주)지니뮤직,7.1,10
2174,2018,10,Eyes On You,GOT7 (갓세븐),"댄스, 알앤비/어반",2018.03.12,(주)아이리버,8.6,7
2175,2018,10,Take,숀(SHAUN),"일렉트로니카, 인디뮤직",2018.06.27,워너뮤직코리아,3.7,4
2176,2018,10,우리 그만하자,로이킴,발라드,2018.09.18,(주)지니뮤직,7.0,2
2177,2018,10,하루도 그대를 사랑하지 않은 적이 없었다,임창정,"발라드, 댄스",2018.09.19,(주)인터파크,8.5,14

In [89]:
musicData.isnull().sum()

Year            0
Month           0
Album Title     0
Artist Name     0
Genre           1
Date            0
Distribution    0
Rating          0
Music Count     0
dtype: int64

In [217]:
musicData.loc[1104,'Genre'] = '팝,  캐롤'

In [216]:
musicData.loc[1104]

Year                                     2017
Month                                      12
Album Title     All I Want For Christmas (EP)
Artist Name                      Mariah Carey
Genre                                     NaN
Date                               2007.11.26
Distribution                       Sony Music
Rating                                    8.9
Music Count                                 3
Name: 1104, dtype: object

In [220]:
musicData.loc[1104]

Year                                     2017
Month                                      12
Album Title     All I Want For Christmas (EP)
Artist Name                      Mariah Carey
Genre                                  팝,  캐롤
Date                               2007.11.26
Distribution                       Sony Music
Rating                                    8.9
Music Count                                 3
Name: 1104, dtype: object

In [218]:
musicData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2178 entries, 0 to 2177
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          2178 non-null   int64
 1   Month         2178 non-null   int64
 2   Album Title   2178 non-null   object
 3   Artist Name   2178 non-null   object
 4   Genre         2178 non-null   object
 5   Date          2178 non-null   object
 6   Distribution  2178 non-null   object
 7   Rating        2178 non-null   float64
 8   Music Count   2178 non-null   int64
dtypes: float64(1), int64(3), object(5)
memory usage: 153.3+ KB

In [92]:
musicData.head()

,Year,Month,Album Title,Artist Name,Genre,Date,Distribution,Rating,Music Count
0,2017,1,Boys and Girls Music Vol. 1,샘김,알앤비/어반,2017.01.25,로엔 엔터테인먼트,8.6,2
1,2017,1,여자친구 The 1st Album 'LOL',여자친구(GFRIEND),댄스,2016.07.11,로엔엔터테인먼트,8.1,12
2,2017,1,Collage (EP),The Chainsmokers,일렉트로니카,2016.11.05,소니뮤직,7.5,5
3,2017,1,If You,에일리,발라드,2016.08.23,로엔 엔터테인먼트,6.9,1
4,2017,1,세 단어,젝스키스,발라드,2016.10.07,YG PLUS,9.0,1

In [93]:
musicData.loc[musicData['Distribution']=='퍼플파인 엔터테인먼트','Distribution'] = musicData.loc[musicData['Distribution']=='퍼플파인 엔터테인먼트',:].replace('퍼플파인 엔터테인먼트','퍼플파인엔터테인먼트')
musicData.loc[musicData['Distribution']=='로엔 엔터테인먼트','Distribution'] = musicData.loc[musicData['Distribution']=='로엔 엔터테인먼트',:].replace('로엔 엔터테인먼트','로엔엔터테인먼트')
musicData.loc[musicData['Distribution']=='Sony Music','Distribution'] = musicData.loc[musicData['Distribution']=='Sony Music',:].replace('Sony Music','소니뮤직')
musicData.loc[musicData['Distribution']=='Universal','Distribution'] = musicData.loc[musicData['Distribution']=='Universal',:].replace('Universal','유니버설뮤직')
musicData.loc[musicData['Distribution']=='㈜인터파크','Distribution'] = musicData.loc[musicData['Distribution']=='㈜인터파크',:].replace('㈜인터파크','(주)인터파크')
musicData.loc[musicData['Distribution']=='Mirrorball Music','Distribution'] = musicData.loc[musicData['Distribution']=='Mirrorball Music',:].replace('Mirrorball Music','(주)미러볼뮤직')
musicData.loc[musicData['Distribution']=='Warner(Korea)','Distribution'] = musicData.loc[musicData['Distribution']=='Warner(Korea)',:].replace('Warner(Korea)','워너뮤직코리아')
musicData.loc[musicData['Distribution']=='지니뮤직','Distribution'] = musicData.loc[musicData['Distribution']=='지니뮤직',:].replace('지니뮤직','(주)지니뮤직')

- 2017~18년까지 가장 많은 히트곡을 배출한 제작사?
- 2017년까지 가장 많은 히트곡을 배출한 가수? 히트곡 기준 -> [ Rating 높은 순 ]
- 2018년까지 가장 많은 히트곡을 배출한 가수? 히트곡 기준 -> [ Rating 높은 순 ]
- 가장 인기 없는 가수는 누구인가? [ 은퇴 요망 ] [ 제작비 날림 ] 숀
- 가장 사랑 받은 장르는 무엇인가?

#### 2017~18년까지 가장 많은 히트곡을 배출한 제작사는?

In [106]:
music_d = pd.DataFrame(musicData.groupby('Distribution')['Rating'].mean())

music_d

                 Rating
Distribution
(주)루미넌트엔터테인먼트  7.275000
(주)뮤직앤뉴        8.361538
(주)미러볼뮤직       6.342857
(주)벅스          8.600000
(주)아이리버        8.430243
(주)엔에이치엔벅스     8.510256
(주)인터파크        7.783333
(주)지니뮤직        8.063265
YG PLUS        8.369565
다날 엔터테인먼트      7.100000
로엔엔터테인먼트       8.265464
소니뮤직           8.451111
워너뮤직코리아        8.528571
유니버설뮤직         8.392857
퍼플파인엔터테인먼트     3.700000
포크라노스          7.900000

In [107]:
music_d.reset_index(inplace = True)

In [188]:
music_d = music_d.sort_values(by = 'Rating', ascending = False)

music_d.round(2).head()

   Distribution  Rating
3         (주)벅스    8.60
12      워너뮤직코리아    8.53
5    (주)엔에이치엔벅스    8.51
11         소니뮤직    8.45
4       (주)아이리버    8.43

#### 2017년 가장 많은 히트곡을 배출한 가수? [Rating 높은순]

In [97]:
best_music_2017 = musicData.loc[(musicData['Year'] == 2017)]

best_music_2017

,Year,Month,Album Title,Artist Name,Genre,Date,Distribution,Rating,Music Count
0,2017,1,Boys and Girls Music Vol. 1,샘김,알앤비/어반,2017.01.25,로엔엔터테인먼트,8.6,2
1,2017,1,여자친구 The 1st Album 'LOL',여자친구(GFRIEND),댄스,2016.07.11,로엔엔터테인먼트,8.1,12
2,2017,1,Collage (EP),The Chainsmokers,일렉트로니카,2016.11.05,소니뮤직,7.5,5
3,2017,1,If You,에일리,발라드,2016.08.23,로엔엔터테인먼트,6.9,1
4,2017,1,세 단어,젝스키스,발라드,2016.10.07,YG PLUS,9.0,1
...,...,...,...,...,...,...,...,...,...
1181,2017,12,"W, HERE",뉴이스트 W,"댄스, 발라드",2017.10.10,(주)지니뮤직,8.4,6
1182,2017,12,Perfect Velvet - The 2nd Album,Red Velvet (레드벨벳),댄스,2017.11.17,(주)아이리버,8.0,9
1183,2017,12,1-1=0 (NOTHING WITHOUT YOU),Wanna One(워너원),"발라드, 댄스",2017.11.13,(주)지니뮤직,8.7,11
1184,2017,12,기억의 빈자리,나얼,"발라드, 알앤비/어반",2017.11.29,(주)지니뮤직,9.0,3
1185,2017,12,Moonlight,멜로망스(Melomance),발라드,2017.07.10,로엔엔터테인먼트,6.7,5

=> 17~18년도 많은 히트곡을 낸 제작사 top3는 벅스, 워너뮤직코리아, (주)엔에이치엔벅스

In [177]:
best_music_2017 = best_music_2017.groupby('Artist Name')['Rating'].mean()

best_music_2017 = pd.DataFrame(best_music_2017)
best_music_2017 = best_music_2017.round(2)

best_music_2017 = best_music_2017.sort_values(by = 'Rating')

best_music_2017.tail()

              Rating
Artist Name
Sia             9.56
유재환             9.60
남우현             9.70
David Guetta    9.90
정키(JungKey)     9.90

#### 2018년 가장 많은 히트곡을 배출한 가수? [Rating 높은순]

In [172]:
best_music_2018 = musicData.loc[(musicData['Year'] == 2018)]

best_music_2018

,Year,Month,Album Title,Artist Name,Genre,Date,Distribution,Rating,Music Count
1186,2018,1,Red Pill Blues (Deluxe Edition),Maroon 5,"팝, 얼터너티브 락",2017.11.03,유니버설뮤직,6.9,21
1187,2018,1,Be Ordinary,황치열,발라드,2017.06.13,(주)엔에이치엔벅스,8.5,7
1188,2018,1,"Universe - 겨울 스페셜 앨범, 2017",EXO,발라드,2017.12.26,(주)아이리버,8.6,8
1189,2018,1,5집 ANOTHER LIGHT,젝스키스,발라드,2017.09.21,(주)지니뮤직,8.5,9
1190,2018,1,세 단어,젝스키스,발라드,2016.10.07,YG PLUS,9.0,1
...,...,...,...,...,...,...,...,...,...
2173,2018,10,RECIPE,벤,발라드,2018.05.08,(주)지니뮤직,7.1,10
2174,2018,10,Eyes On You,GOT7 (갓세븐),"댄스, 알앤비/어반",2018.03.12,(주)아이리버,8.6,7
2175,2018,10,Take,숀(SHAUN),"일렉트로니카, 인디뮤직",2018.06.27,워너뮤직코리아,3.7,4
2176,2018,10,우리 그만하자,로이킴,발라드,2018.09.18,(주)지니뮤직,7.0,2
2177,2018,10,하루도 그대를 사랑하지 않은 적이 없었다,임창정,"발라드, 댄스",2018.09.19,(주)인터파크,8.5,14

In [178]:
best_music_2018 = best_music_2018.groupby('Artist Name')['Rating'].mean()

best_music_2018 = pd.DataFrame(best_music_2018)
best_music_2018 = best_music_2018.round(2)

best_music_2018 = best_music_2018.sort_values(by = 'Rating')

best_music_2018.tail()

              Rating
Artist Name
Sia             9.56
유재환             9.60
남우현             9.70
David Guetta    9.90
정키(JungKey)     9.90

#### 가장 인기 없는 가수는 누구인가? [ 은퇴 요망 ] [ 제작비 날림 ] 숀

In [157]:
best_music.round(2)

Artist Name
(여자)아이들          8.11
10cm             7.77
AOA              7.98
Ariana Grande    7.50
B1A4             8.80
                 ...
헨리 (HENRY)       8.90
혁오(HYUKOH)       8.50
현아               7.70
황치열              8.38
효린               7.93
Name: Rating, Length: 176, dtype: float64

In [189]:
# worst_music = musicData.sort_values(by = 'Rating', ascending = True)

# worst_music.head()

In [185]:
worst_music = musicData.groupby('Artist Name')['Rating'].mean()
#not_favorite.to_frame()
worst_music = pd.DataFrame(worst_music)
worst_music

                 Rating
Artist Name
(여자)아이들        8.114286
10cm           7.766667
AOA            7.977778
Ariana Grande  7.500000
B1A4           8.800000
...                 ...
헨리 (HENRY)     8.900000
혁오(HYUKOH)     8.500000
현아             7.700000
황치열            8.381081
효린             7.933333

[176 rows x 1 columns]

In [187]:
worst_music = worst_music.sort_values(by = 'Rating')

worst_music.head()

              Rating
Artist Name
닐로(Nilo)         1.5
숀(SHAUN)         3.7
문문(MoonMoon)     4.0
영비(Young B)      4.2
장덕철              4.7

#### 가장 사랑 받은 장르는 무엇인가?

In [228]:
musicData['Genre'].unique()

array(['알앤비/어반', '댄스', '일렉트로니카', '발라드', '드라마음악', '포크,  인디뮤직', '팝',
       '발라드,  락,  포크', '랩/힙합', '포크', '락', '팝,  얼터너티브 락', '댄스,  알앤비/어반',
       '인디뮤직,  랩/힙합', '발라드,  알앤비/어반', '얼터너티브 락', '인디뮤직', 'TV', '발라드,  댄스',
       '클럽/댄스', '발라드,  댄스,  알앤비/어반,  일렉트로니카', '댄스,  일렉트로니카', '영화음악',
       '댄스,  발라드', '팝,  캐롤', '발라드,  재즈', '인디뮤직,  포크', '뮤지컬',
       '발라드,  알앤비/어반,  포크', '발라드,  댄스,  알앤비/어반', '발라드,  락',
       '드라마음악,  드라마음악', '유럽 음악', '댄스,  발라드,  랩/힙합,  알앤비/어반',
       '일렉트로니카,  댄스,  알앤비/어반', '댄스,  알앤비/어반,  일렉트로니카',
       '알앤비/어반,  발라드,  댄스', '일렉트로니카,  인디뮤직', '일렉트로니카,  댄스,  알앤비/어반,  발라드',
       '댄스,  발라드,  알앤비/어반,  랩/힙합,  락'], dtype=object)

In [245]:
music_g = musicData.groupby('Genre')['Rating'].mean()

music_g = pd.DataFrame(music_g)
music_g.reset_index(inplace = True)

music_g.round(2)

                           Genre  Rating
0                             TV    9.80
1                             댄스    8.02
2                       댄스,  발라드    8.35
3       댄스,  발라드,  랩/힙합,  알앤비/어반    8.60
4   댄스,  발라드,  알앤비/어반,  랩/힙합,  락    8.30
5                    댄스,  알앤비/어반    8.39
6           댄스,  알앤비/어반,  일렉트로니카    8.90
7                    댄스,  일렉트로니카    8.90
8                          드라마음악    8.05
9                  드라마음악,  드라마음악    8.40
10                             락    8.91
11                          랩/힙합    8.18
12                           뮤지컬    9.70
13                           발라드    8.14
14                      발라드,  댄스    8.58
15             발라드,  댄스,  알앤비/어반    7.80
16    발라드,  댄스,  알앤비/어반,  일렉트로니카    7.00
17                       발라드,  락    9.00
18                  발라드,  락,  포크    9.20
19                  발라드,  알앤비/어반    8.09
20             발라드,  알앤비/어반,  포크    8.80
21                      발라드,  재즈    7.30
22                        알앤비/어반    8.34
23             알앤비/어반,  발라드,  댄스    8.70
24                       얼터너티브 락    9.20
25                          영화음악    9.30
26                         유럽 음악    8.10
27                          인디뮤직    7.90
28                   인디뮤직,  랩/힙합    7.70
29                     인디뮤직,  포크    4.39
30                        일렉트로니카    7.60
31          일렉트로니카,  댄스,  알앤비/어반    8.80
32    일렉트로니카,  댄스,  알앤비/어반,  발라드    9.20
33                 일렉트로니카,  인디뮤직    3.70
34                         클럽/댄스    9.30
35                             팝    8.98
36                   팝,  얼터너티브 락    6.90
37                        팝,  캐롤    8.20
38                            포크    8.39
39                     포크,  인디뮤직    8.09

In [244]:
music_g[music_g['Genre'].str.contains('댄스')].mean()

C:\Users\TJ\AppData\Local\Temp\ipykernel_13740\3676470801.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  music_g[music_g['Genre'].str.contains('댄스')].mean()

Rating    8.488652
dtype: float64

In [246]:
#musicData[musicData['Genre'].str.contains('댄스')]