In [12]:
import pandas as pd

input_file = 'sales_2013.xlsx'
output_file = 'output_files/11output_basic_pandas.xlsx'

my_sheets =[0,1]
threshold = 1900.0

data = pd.read_excel(input_file, sheet_name = my_sheets)
row_list = []

for worksheet_name, data in data.items():
    row_list.append(data[data['Sale Amount'] > threshold])
    
select_row = pd.concat(row_list, axis = 0, ignore_index = True)

C:\Users\TJ\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():
C:\Users\TJ\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

In [14]:
select_row

   Customer ID       Customer Name Invoice Number  Sale Amount Purchase Date
0         6789  Samantha Donaldson       100-0007         1995    2013-01-31
1         7654        Roger Lipney       100-0010         2135    2013-02-15

In [13]:
writer = pd.ExcelWriter(output_file)

select_row.to_excel(writer, sheet_name = 'set_of_worksheets', index = False)
writer.save()