In [2]:
import pandas as pd

In [14]:
input_file = 'supplier_data.csv'
output_file = 'output_files/4output_basic_pandas.csv'

data = pd.read_csv(input_file)

data

   Supplier Name Invoice Number  Part Number     Cost Purchase Date
0     Supplier X       001-1001         2341  $500.00       1/20/23
1     Supplier X       001-1001         2341  $500.00       1/21/23
2     Supplier X       001-1001         5467  $750.00       1/22/23
3     Supplier X       001-1001         5467  $750.00       1/23/23
4     Supplier Y        50-9501         7009  $250.00       1/30/23
5     Supplier Y        50-9501         7009  $250.00       1/31/23
6     Supplier Y        50-9505         6650  $125.00        2/3/23
7     Supplier Y        50-9505         6650  $125.00        2/4/23
8     Supplier Z       920-4803         3321  $610.00        2/5/23
9     Supplier Z       920-4804         3321  $615.00       2/10/23
10    Supplier Z       920-4805         3321  $615.00       2/17/23
11    Supplier Z       920-4806         3321  $615.00       2/24/23

In [16]:
    important_dates = ['2/10/23', '2/17/23']
    
    data_i = data.loc[data['Purchase Date'].isin(important_dates),:]
    
    data_i.to_csv(output_file, index = False)