## 예제 2-17 시리즈에 논리식검색

In [2]:
import pandas as pd

In [3]:
sat = pd.read_csv("../data/2014_korea_sat_scores.csv",encoding='euc-kr').dropna(axis=1)

In [4]:
l_sat = ((sat['도수(명)'] < 20000) & (sat['비율(%)'] <= 5.0))

In [5]:
sat_ser = sat['도수(명)']

In [6]:
sat_ser

0      13866
1      23599
2      42470
3      52640
4      63896
       ...
337     1324
338     1075
339      873
340      233
341      216
Name: 도수(명), Length: 342, dtype: int64

In [ ]:
# 논리검색은 시리즈에서도 DataFrame과 마찬가지로 적용된다.

In [7]:
sat_ser[sat_ser < 20000]

0      13866
8      12554
9      12615
16     19943
17     10868
       ...
337     1324
338     1075
339      873
340      233
341      216
Name: 도수(명), Length: 294, dtype: int64

In [8]:
# 294개의 레코드
sat_ser[sat_ser < 20000].shape

(294,)

In [9]:
sat_ser[sat_ser < 20000].head()

0     13866
8     12554
9     12615
16    19943
17    10868
Name: 도수(명), dtype: int64