## 예제 2-27 문자열 조회

In [1]:
import pandas as pd

In [2]:
# movies_str = pd.read_csv("../data/korea_movie_list.csv", engine = "python")
movies_str = pd.read_csv("../data/korea_movie_list.csv", encoding = "ms949")

In [3]:
movies_str.columns

Index(['movie_code', 'title', 'title_Eng', 'show_time', 'produce_year',
       'open_date', 'produce_state', 'type', 'nation', 'genre', 'director',
       'actor', 'show_type', 'watch_grade'],
      dtype='object')

In [4]:
movies_str.shape

(2827, 14)

In [6]:
movies_str.head(2)

,movie_code,title,title_Eng,show_time,produce_year,open_date,produce_state,type,nation,genre,director,actor,show_type,watch_grade
0,20185801,할로우 차일드,The Hollow Child,88.0,2017,20180802,개봉예정,장편,캐나다,공포(호러)/판타지,제레미 루터,NaN,NaN,15세이상관람가
1,20187649,죽음의 리무진,Glass Coffin,75.0,2016,20180816,개봉예정,장편,스페인,스릴러/공포(호러),하리츠 쥬빌라가,파울라 본템피,NaN,NaN

In [7]:
movies_str_ser = movies_str['title']

In [8]:
movies_str_ser.head()

0              할로우 차일드
1              죽음의 리무진
2    극장판 도라에몽: 진구의 보물섬
3     명탐정 코난 : 제로의 집행인
4              살아남은 아이
Name: title, dtype: object

In [10]:
movies_str_eng = movies_str['title_Eng']

In [11]:
movies_str_eng.head()

0                      The Hollow Child
1                          Glass Coffin
2                                   NaN
3    Detective Conan: Zero the Enforcer
4                            Last Child
Name: title_Eng, dtype: object

In [12]:
# hasnans => has nans 의 의미 누락된값이 있으면 True 없으면 False

In [13]:
# 결측치를 가지고 있는가?
movies_str_ser.hasnans

False

In [14]:
movies_str_eng = movies_str_eng.dropna()

In [15]:
movies_str_eng.shape

(2226,)

In [16]:
s = str("가을")

In [17]:
len(s)

2

In [18]:
# 시리즈의 str 속성의 len 함수를 통해 전체 요소의 길이값 반환

In [19]:
movies_str_ser.str.len().head()

0     7
1     7
2    17
3    16
4     7
Name: title, dtype: int64

In [20]:
s.find("을")

1

In [21]:
# '할로우'라는 문자열이 없으면 -1
movies_str_ser.str.find('할로우').head()

0    0
1   -1
2   -1
3   -1
4   -1
Name: title, dtype: int64

In [25]:
s.count("을")

1

In [26]:
movies_str_ser.str.count("의").head()

0    0
1    1
2    1
3    1
4    0
Name: title, dtype: int64

## 예제 2-28 문자열 변경

In [27]:
si = str(" 찬혁 ")

In [28]:
si

' 찬혁 '

In [29]:
len(si)

4

In [30]:
# strip() : 공백문자제거
si = si.strip()

In [31]:
len(si)

2

In [33]:
idx = pd.Index([' 찬혁', '런던 ', ' 소셜 ', '겨울'])

In [34]:
idx.str.strip()

Index(['찬혁', '런던', '소셜', '겨울'], dtype='object')

In [35]:
idx.str.lstrip()

Index(['찬혁', '런던 ', '소셜 ', '겨울'], dtype='object')

In [36]:
idx.str.rstrip()

Index([' 찬혁', '런던', ' 소셜', '겨울'], dtype='object')

In [37]:
import numpy as np

In [39]:
ss = pd.Series(['가_나_다', '라_마_바', np.nan, '사_아_자'])

In [40]:
ss.str.split('_')

0    [가, 나, 다]
1    [라, 마, 바]
2          NaN
3    [사, 아, 자]
dtype: object

In [41]:
# [1]의 인덱스
ss.str.split('_').str.get(1)

0      나
1      마
2    NaN
3      아
dtype: object

In [42]:
ss.str.split('_').str[1]

0      나
1      마
2    NaN
3      아
dtype: object

In [43]:
# expand = True 를 지정하면 분리된 것(split)을 기준으로 데이터프레임을 만들어 준다.

In [44]:
ss.str.split('_', expand = True)

     0    1    2
0    가    나    다
1    라    마    바
2  NaN  NaN  NaN
3    사    아    자

In [46]:
ss.str.split('_', expand=True, n=1)

     0    1
0    가  나_다
1    라  마_바
2  NaN  NaN
3    사  아_자

In [47]:
# rsplit : 오른쪽기준으로 split해준다
ss.str.rsplit('_', expand=True, n=1)

     0    1
0  가_나    다
1  라_마    바
2  NaN  NaN
3  사_아    자

In [48]:
ss.str.replace("_","%")

0    가%나%다
1    라%마%바
2      NaN
3    사%아%자
dtype: object

In [49]:
ss.str.cat(sep=',')

'가_나_다,라_마_바,사_아_자'

In [50]:
ss.str.cat()

'가_나_다라_마_바사_아_자'

In [51]:
# 방법1
ss.str.cat(['A','B','C','D'])

0    가_나_다A
1    라_마_바B
2       NaN
3    사_아_자D
dtype: object

In [52]:
# 방법2
su = pd.Series(['A','B','C','D'])

In [53]:
ss.str.cat(su)

0    가_나_다A
1    라_마_바B
2       NaN
3    사_아_자D
dtype: object

In [54]:
ss.str[0]

0      가
1      라
2    NaN
3      사
dtype: object