## 예제 2-12 데이터를 읽어오기

In [1]:
import pandas as pd

In [2]:
ct = pd.read_csv("../data/2017_college_tuition.csv",encoding = "euc-kr")

In [3]:
ct.head()

         학교명 설립구분  평균등록금
0    강릉원주대학교  국공립   4262
1      강원대학교  국공립   4116
2  경남과학기술대학교  국공립   3771
3      경북대학교  국공립   4351
4      경상대학교  국공립   3967

In [5]:
# 전체 데이터 중 끝에서 5개의 데이터를 보여준다.
ct.tail()

         학교명 설립구분  평균등록금
191    호남대학교   사립   6482
192  호남신학대학교   사립   6438
193    호서대학교   사립   7695
194    호원대학교   사립   6929
195    홍익대학교   사립   8297

In [6]:
ct.shape

(196, 3)

In [7]:
ct.columns

Index(['학교명', '설립구분', '평균등록금'], dtype='object')