In [7]:
import pandas as pd
import csv

input_file = 'supplier_data_no_header_row.csv'
output_file = 'output_files/12output_basic_pandas.csv'

data = pd.read_csv(input_file)
data

    Supplier X  001-1001  2341  $500.00   1/20/2014
0   Supplier X  001-1001  2341  $500.00   1/20/2014
1   Supplier X  001-1001  5467  $750.00   1/20/2014
2   Supplier X  001-1001  5467  $750.00   1/20/2014
3   Supplier Y   50-9501  7009  $250.00   1/30/2014
4   Supplier Y   50-9501  7009  $250.00   1/30/2014
5   Supplier Y   50-9505  6650  $125.00    2/3/2014
6   Supplier Y   50-9505  6650  $125.00    2/3/2014
7   Supplier Z  920-4803  3321  $615.00    2/3/2014
8   Supplier Z  920-4804  3321  $615.00   2/10/2014
9   Supplier Z  920-4805  3321  $615.00   2/17/2014
10  Supplier Z  920-4806  3321  $615.00   2/24/2014