In [1]:
import pandas as pd

In [2]:
import numpy as np

## 파이썬 datetime 모듈 알아보기

In [3]:
import datetime

### datetime.date 함수

In [4]:
# datetime.date([년],[월],[일]) Date 타입 객체 생성
date = datetime.date(2018,9,29)

In [5]:
date

datetime.date(2018, 9, 29)

In [6]:
# 년, 월, 일의 정보는 date의 date.year, date.month, date.day에 각각 저장된다.
date.year, date.month, date.day

(2018, 9, 29)

In [32]:
date.year

2018

#### 요일 확인

In [37]:
day = datetime.date(2022, 12, 9)
day

datetime.date(2022, 12, 9)

In [38]:
# weekday
# 0은 월요일을 의미하며 순서대로 1은 화요일, 2는 수요일, …, 6은 일요일
day.weekday()

4

In [39]:
# isoweekday() => 1부터
# 월요일은 1, 화요일은 2, …, 일요일은 7을 리턴

In [40]:
day.isoweekday()

5

### datetime.time 함수

In [11]:
# datetime.time (시, 분, 초, microsecond)
time = datetime.time(12,59,40,463198)

In [12]:
time

datetime.time(12, 59, 40, 463198)

In [13]:
time.hour, time.minute, time.second, time.microsecond

(12, 59, 40, 463198)

In [14]:
### datetime.datetime(년, 월, 일, 시, 분, 초, microsecond)

In [15]:
dt = datetime.datetime(2018,9,29,12,30,19,463198)

In [16]:
dt

datetime.datetime(2018, 9, 29, 12, 30, 19, 463198)

In [17]:
# timedelta 시간 간격을 나타내는 객체
# 입력은 week, days, hours, minutes, seconds, milliseconds, microseconds 단위로 입력 가능
# 저장된 형태는 days, seconds, microseconds 형태로 저장

In [18]:
td = datetime.timedelta(weeks=2, days=5, 
                        hours=10, minutes=20, 
                        seconds=6.73, 
                        milliseconds=99, 
                        microseconds=8)

In [19]:
td

datetime.timedelta(days=19, seconds=37206, microseconds=829008)

In [20]:
td.days, td.seconds, td.microseconds, td.total_seconds()

(19, 37206, 829008, 1678806.829008)

In [21]:
# date와 timedelta 간의 연산이 가능하다.

In [22]:
date + td

datetime.date(2018, 10, 18)

In [23]:
# datetime과 timedelta 간의 연산이 가능하다.

In [24]:
dt + td

datetime.datetime(2018, 10, 18, 22, 50, 26, 292206)

In [25]:
dt - td

datetime.datetime(2018, 9, 10, 2, 10, 12, 634190)

### time 모듈

time.time()은 UTC(Universal Time Coordinated 협정 세계 표준시)를 사용하여 현재 시간을 실수 형태로 리턴하는 함수이다. 
1970년 1월 1일 0시 0분 0초를 기준으로 지난 시간을 초 단위로 돌려준다.

In [42]:
import time
time.time()

1670565847.288101

#### time.localtime

time.localtime은 time.time()이 리턴한 실수 값을 사용해서 연도, 월, 일, 시, 분, 초, ... 의 형태로 바꾸어 주는 함수

In [44]:
time.localtime(time.time())

time.struct_time(tm_year=2022, tm_mon=12, tm_mday=9, tm_hour=15, tm_min=4, tm_sec=20, tm_wday=4, tm_yday=343, tm_isdst=0)

#### time.asctime

위 time.localtime에 의해서 반환된 튜플 형태의 값을 인수로 받아서 날짜와 시간을 알아보기 쉬운 형태로 리턴하는 함수

In [45]:
time.asctime(time.localtime(time.time()))

'Fri Dec  9 15:08:13 2022'

#### time.ctime

time.asctime(time.localtime(time.time()))은 time.ctime()을 사용해 간편하게 표시

In [46]:
time.ctime()

'Fri Dec  9 15:08:15 2022'

#### time.strftime

strftime 함수는 시간에 관계된 것을 세밀하게 표현하는 여러 가지 포맷 코드를 제공

<table>
<thead>
<tr>
<th>포맷코드</th>
<th>설명</th>
<th>예</th>
</tr>
</thead>
<tbody>
<tr>
<td>%a</td>
<td>요일 줄임말</td>
<td>Mon</td>
</tr>
<tr>
<td>%A</td>
<td>요일</td>
<td>Monday</td>
</tr>
<tr>
<td>%b</td>
<td>달 줄임말</td>
<td>Jan</td>
</tr>
<tr>
<td>%B</td>
<td>달</td>
<td>January</td>
</tr>
<tr>
<td>%c</td>
<td>날짜와 시간을 출력함</td>
<td>06/01/01 17:22:21</td>
</tr>
<tr>
<td>%d</td>
<td>날(day)</td>
<td>[01,31]</td>
</tr>
<tr>
<td>%H</td>
<td>시간(hour)-24시간 출력 형태</td>
<td>[00,23]</td>
</tr>
<tr>
<td>%I</td>
<td>시간(hour)-12시간 출력 형태</td>
<td>[01,12]</td>
</tr>
<tr>
<td>%j</td>
<td>1년 중 누적 날짜</td>
<td>[001,366]</td>
</tr>
<tr>
<td>%m</td>
<td>달</td>
<td>[01,12]</td>
</tr>
<tr>
<td>%M</td>
<td>분</td>
<td>[01,59]</td>
</tr>
<tr>
<td>%p</td>
<td>AM or PM</td>
<td>AM</td>
</tr>
<tr>
<td>%S</td>
<td>초</td>
<td>[00,59]</td>
</tr>
<tr>
<td>%U</td>
<td>1년 중 누적 주-일요일을 시작으로</td>
<td>[00,53]</td>
</tr>
<tr>
<td>%w</td>
<td>숫자로 된 요일</td>
<td>[0(일요일),6]</td>
</tr>
<tr>
<td>%W</td>
<td>1년 중 누적 주-월요일을 시작으로</td>
<td>[00,53]</td>
</tr>
<tr>
<td>%x</td>
<td>현재 설정된 로케일에 기반한 날짜 출력</td>
<td>06/01/01</td>
</tr>
<tr>
<td>%X</td>
<td>현재 설정된 로케일에 기반한 시간 출력</td>
<td>17:22:21</td>
</tr>
<tr>
<td>%Y</td>
<td>년도 출력</td>
<td>2001</td>
</tr>
<tr>
<td>%Z</td>
<td>시간대 출력</td>
<td>대한민국 표준시</td>
</tr>
<tr>
<td>%%</td>
<td>문자</td>
<td>%</td>
</tr>
<tr>
<td>%y</td>
<td>세기부분을 제외한 년도 출력</td>
<td>01</td>
</tr>
</tbody>
</table>

In [47]:
time.strftime('%x', time.localtime(time.time()))

'12/09/22'

In [49]:
time.strftime('%Y-%m-%d %H:%M:%S',time.localtime(time.time()))

'2022-12-09 15:11:25'

In [51]:
time.strftime('%j',time.localtime(time.time()))

'343'

## 판다스의 Timestamp 처리알아보기

      유닉스 탄생 시각인 1970년 1월 1일부터 시각을 나노초로 전달
      
      
   
        Timestamp  : to_datetime, Timestamp
                Represents a single timestamp	
        DatetimeIndex	: to_datetime, date_range, bdate_range, DatetimeIndex
                 Index of Timestamp	
        Period	 :  Period
                Represents a single time span	
        PeriodIndex	: period_range, PeriodIndex
                 Index of Period

In [32]:
pd.Timestamp(0)

Timestamp('1970-01-01 00:00:00')

In [33]:
a = pd.Timestamp(0)

In [34]:
s = pd.Series(a)

In [35]:
s

0   1970-01-01
dtype: datetime64[ns]

In [36]:
s[0]

Timestamp('1970-01-01 00:00:00')

In [37]:
pd.Timestamp(year=2017, month=1, day=1, hour=12,
            minute=30, second=10, microsecond=10)

Timestamp('2017-01-01 12:30:10.000010')

## 예제 10-9 판다스의 to_datetime 처리알아보기

In [38]:
pd.to_datetime('2018-09-29')

Timestamp('2018-09-29 00:00:00')

In [65]:
pd.to_datetime('2018-29-09', dayfirst=True)

Timestamp('2018-09-29 00:00:00')

In [40]:
pd.to_datetime('29-09-2018', dayfirst=True)

Timestamp('2018-09-29 00:00:00')

In [41]:
# 2018년 1월 1일 기준으로 271일이 지난 date를 날짜(D)처리
pd.to_datetime(271, unit='D', origin='2018-01-01')

Timestamp('2018-09-29 00:00:00')

In [52]:
s = pd.Series([10,100,100,1000,10000])

In [53]:
pd.to_datetime(s,unit='D')

0   1970-01-11
1   1970-04-11
2   1970-04-11
3   1972-09-27
4   1997-05-19
dtype: datetime64[ns]

In [44]:
df = pd.DataFrame({'year': [2015, 2016],
                       'month': [2, 3],
                       'day': [4, 5]})

In [45]:
pd.to_datetime(df)

0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

In [46]:
s1 = pd.Series(['09-05-2018', '09/05/2018', '2018-09-01','40/23/2018'])

In [47]:
s1

0    09-05-2018
1    09/05/2018
2    2018-09-01
3    40/23/2018
dtype: object

In [48]:
try :
    for index, date_candidate in enumerate(s1):
        print(f'{index} to_datetime 시도: ',end='')
        print(pd.to_datetime(date_candidate))
except Exception as e :
    print(e)

0 to_datetime 시도: 2018-09-05 00:00:00
1 to_datetime 시도: 2018-09-05 00:00:00
2 to_datetime 시도: 2018-09-01 00:00:00
3 to_datetime 시도: Invalid date specified (40/23)

## 현재 시간을 판다스 날짜형식으로 생성

In [63]:
time.strftime('%Y-%m-%d',time.localtime(time.time()))

pd.to_datetime(time.strftime('%Y-%m-%d',time.localtime(time.time())))

Timestamp('2022-12-09 00:00:00')