## 다층구조 JSON 파싱

아래 xml 데이터를 JSON으로 변경하세요.

<student_list>
	<student name="영호" sex="남">
		<age>45</age>
		<major>경영학</major>
	</student>
	<student name = "세중" sex="남">
		<age>30</age>
		<major>정치외교</major>
	</student>
	<student name="치우" sex="남">
		<age>30</age>
		<major>신문방송학</major>
	</student>
</student_list>

In [1]:
{
    "student_list":[
        {
            "student":{
                "name":"영호",
                "sex":"남",
                "age":45,
                "major":"경영학",
            }
        },
        {
            "student":{
                "name":"세중",
                "sex":"남",
                "age":30,
                "major":"정치외교",
            }
        },
        {
            "student":{
                "name":"치우",
                "sex":"남",
                "age":30,
                "major":"신문방송학",
            }
        }
    ]
}

{'student_list': [{'student': {'name': '영호',
    'sex': '남',
    'age': 45,
    'major': '경영학'}},
  {'student': {'name': '세중', 'sex': '남', 'age': 30, 'major': '정치외교'}},
  {'student': {'name': '치우', 'sex': '남', 'age': 30, 'major': '신문방송학'}}]}

### 위 dictionary는 아래와 같이 단순화 할 수 있음

In [2]:
{
    "student_list":[
        {
                "name":"영호",
                "sex":"남",
                "age":45,
                "major":"경영학",
        },
        {
                "name":"세중",
                "sex":"남",
                "age":30,
                "major":"정치외교",
        },
        {
                "name":"치우",
                "sex":"남",
                "age":30,
                "major":"신문방송학",
         }
    ]
}

{'student_list': [{'name': '영호', 'sex': '남', 'age': 45, 'major': '경영학'},
  {'name': '세중', 'sex': '남', 'age': 30, 'major': '정치외교'},
  {'name': '치우', 'sex': '남', 'age': 30, 'major': '신문방송학'}]}

## 수동 Parsing

In [3]:
student_zero = {'student_list': [{'name': '영호', 'sex': '남', 'age': 45, 'major': '경영학'},
  {'name': '세중', 'sex': '남', 'age': 30, 'major': '정치외교'},
  {'name': '치우', 'sex': '남', 'age': 30, 'major': '신문방송학'}]}

### 레코드 상위노드 접근

In [4]:
student_zero['student_list']

[{'name': '영호', 'sex': '남', 'age': 45, 'major': '경영학'},
 {'name': '세중', 'sex': '남', 'age': 30, 'major': '정치외교'},
 {'name': '치우', 'sex': '남', 'age': 30, 'major': '신문방송학'}]

### 행별 레코드 접근

In [5]:
student_zero['student_list'][0]

{'name': '영호', 'sex': '남', 'age': 45, 'major': '경영학'}

In [6]:
student_zero['student_list'][1]

{'name': '세중', 'sex': '남', 'age': 30, 'major': '정치외교'}

In [7]:
student_zero['student_list'][2]

{'name': '치우', 'sex': '남', 'age': 30, 'major': '신문방송학'}

### 행별 세부 데이터 접근

In [8]:
student_zero['student_list'][0]['name']

'영호'

In [9]:
student_zero['student_list'][0]['sex']

'남'

In [10]:
student_zero['student_list'][0]['age']

45

In [11]:
student_zero['student_list'][0]['major']

'경영학'

### 전체 데이터 자동 Parsing

In [12]:
student_zero

{'student_list': [{'name': '영호', 'sex': '남', 'age': 45, 'major': '경영학'},
  {'name': '세중', 'sex': '남', 'age': 30, 'major': '정치외교'},
  {'name': '치우', 'sex': '남', 'age': 30, 'major': '신문방송학'}]}

In [13]:
student = {'name': '영호', 'sex': '남', 'age': 45, 'major': '경영학'}
for each_data in student:
    print(f'{each_data} ')

name
sex
age
major

In [14]:
for student in student_zero['student_list']:
    for key, value in student.items():
        print(f'{value} ', end='')
    print()

영호 남 45 경영학
세중 남 30 정치외교
치우 남 30 신문방송학

## DataFrame 정보 추출

In [15]:
column_list=[]
all_data=[]
is_first=True
for student in student_zero['student_list']:
    row_data_list=[]
    for key, value in student.items():
        if is_first:
            column_list.append(key)
        row_data_list.append(value)
    all_data.append(row_data_list)
    is_first=False

In [16]:
column_list

['name', 'sex', 'age', 'major']

In [17]:
all_data

[['영호', '남', 45, '경영학'], ['세중', '남', 30, '정치외교'], ['치우', '남', 30, '신문방송학']]

In [18]:
import pandas as pd
df = pd.DataFrame(all_data, columns=column_list)
df

  name sex  age  major
0   영호   남   45    경영학
1   세중   남   30   정치외교
2   치우   남   30  신문방송학

In [19]:
import json
with open('student_zero.json','w',encoding='cp949') as outfile:
    readable_result = json.dumps(student_zero,indent=4,sort_keys=True,ensure_ascii=False)
    outfile.write(readable_result)
    print('json file saved')

json file saved

In [20]:
df.to_csv('student_zero.csv', encoding='cp949', index=False)