## 예제 1-3 인스턴스를 관리하는 속성

In [1]:
import pandas as pd

In [4]:
#
# data = [
#     [0,1,2],
#     [3,4,5]
# ]
# index => 행의 인덱스
# columns => 열의 인덱스
df = pd.DataFrame(data = [[0,1,2],[3,4,5]], index =list('ab'), columns=list('cde'))

In [13]:
df

   c  d  e
a  0  1  2
b  3  4  5

In [7]:
type(df.index)

pandas.core.indexes.base.Index

In [8]:
# 행의 인덱스
df.index

Index(['a', 'b'], dtype='object')

In [9]:
type(df.columns)

pandas.core.indexes.base.Index

In [10]:
# 열의 인덱스
df.columns

Index(['c', 'd', 'e'], dtype='object')

In [11]:
type(df.values)

numpy.ndarray

In [12]:
# 값
df.values

array([[0, 1, 2],
       [3, 4, 5]], dtype=int64)