In [5]:
import pandas as pd
import numpy as np

In [6]:
# 3,2
np.random.rand(3,2)

array([[0.41524013, 0.90092825],
       [0.82455183, 0.19944585],
       [0.00829617, 0.01268072]])

In [7]:
r_inx = pd.MultiIndex.from_product([[2017,2018],[1,2]], names=['년도','과제점수'])
c_inx = pd.MultiIndex.from_product([['철수','영희','지원'],['컴공','경제']], names=['학생','학과'])

In [8]:
data = np.round(np.abs(np.random.randn(4,6)),1)

In [9]:
study_data = pd.DataFrame(data, index=r_inx, columns=c_inx)

In [10]:
study_data

학생          철수        영희        지원
학과          컴공   경제   컴공   경제   컴공   경제
년도   과제점수
2017 1     0.1  1.8  0.5  1.1  0.3  1.6
     2     1.0  1.2  0.2  1.5  0.3  1.1
2018 1     0.1  1.0  2.0  0.3  0.9  0.3
     2     0.2  0.7  0.9  0.3  0.6  1.6

In [11]:
study_data.loc[pd.IndexSlice[:,1],pd.IndexSlice[:,'경제']]

학생          철수   영희   지원
학과          경제   경제   경제
년도   과제점수
2017 1     1.8  1.1  1.6
2018 1     1.0  0.3  0.3

In [12]:
study_data.loc[pd.IndexSlice[:,1:2],pd.IndexSlice[:,'경제']]

학생          철수   영희   지원
학과          경제   경제   경제
년도   과제점수
2017 1     1.8  1.1  1.6
     2     1.2  1.5  1.1
2018 1     1.0  0.3  0.3
     2     0.7  0.3  1.6

In [13]:
index = [
    (2019,'전반기'),
    (2019,'후반기'),
    (2020,'전반기'),
    (2020,'후반기'),
    (2021,'전반기'),
    (2021,'후반기')
]

In [14]:
mul_index = pd.MultiIndex.from_tuples(index)

In [15]:
mul_index

MultiIndex([(2019, '전반기'),
            (2019, '후반기'),
            (2020, '전반기'),
            (2020, '후반기'),
            (2021, '전반기'),
            (2021, '후반기')],
           )

In [21]:
num = [200,250,120,110,330,330]

In [22]:
result = pd.Series(num, index = mul_index)

In [23]:
result

2019  전반기    200
      후반기    250
2020  전반기    120
      후반기    110
2021  전반기    330
      후반기    330
dtype: int64

In [28]:
result.index.names = ['년도','전/후반']

In [29]:
result

년도    전/후반
2019  전반기     200
      후반기     250
2020  전반기     120
      후반기     110
2021  전반기     330
      후반기     330
dtype: int64

In [32]:
df = pd.DataFrame(result,columns = ['인구수'])

In [33]:
df

           인구수
년도   전/후반
2019 전반기   200
     후반기   250
2020 전반기   120
     후반기   110
2021 전반기   330
     후반기   330