## 예제 1-2 검색과 슬라이싱 편리성

In [2]:
import pandas as pd

In [3]:
ser = pd.Series([1,2,3])

In [4]:
df = pd.DataFrame(ser)

In [5]:
df

   0
0  1
1  2
2  3

In [13]:
# 데이터프레임워크(열조건)
# df 0번째의 조건 (1,2,3출력)
df[0]

0    1
1    2
2    3
Name: 0, dtype: int64

In [8]:
# iloc => 행과 열의 인덱스로 데이터를 필터링
# iloc[행인덱스, 열인덱스]
df.iloc[0]

0    1
Name: 0, dtype: int64

In [17]:
df.iloc[2]

0    3
Name: 2, dtype: int64

In [19]:
# 0행0열
df.iloc[0,0]

1

In [18]:
# 1행0열
df.iloc[1,0]

2

In [10]:
df[0]

0    1
1    2
2    3
Name: 0, dtype: int64

In [11]:
# 0번째 열 시리즈의 첫번째 값이므로 1을 반환
df[0][0]

1