## 예제 1-5 연산을 수행 할 경우 새로운 인스턴스 생성

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns = list('abc'))

In [3]:
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [4]:
# 모든 열 + 99
df_b = df + 99

In [5]:
df_b

     a    b    c
0  100  101  102
1  103  104  105
2  106  107  108

In [6]:
id(df_b), id(df)

(2214667646288, 2214630577632)

In [7]:
df_b.values.base is df.values.base

False

In [8]:
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [9]:
import numpy as np

In [11]:
s1 = pd.Series(index = list('abcd'), data = np.arange(4))

In [12]:
s2 = s1

In [13]:
s1 is s2

True

In [14]:
# 값을 복사해서 할당 (s3, s1 다른주소)
s3 = s1.copy()

In [15]:
s3

a    0
b    1
c    2
d    3
dtype: int32

In [17]:
s1 is s3

False

In [18]:
s1 is s2

True

In [19]:
s2 is s3

False