## 예제 1-8 결측값으로 인스턴스 생성

In [1]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
# np.nan : 값의 정의되지않은 값
df_na = pd.DataFrame([1,2,np.nan])

In [5]:
df_na

     0
0  1.0
1  2.0
2  NaN

In [6]:
df_na.sum()

0    3.0
dtype: float64

In [9]:
# skipna는 기본값이 True이며 False로 명시적으로 주어졌을 경우 NaN을 포함하며 연산을 한다.
# 이때 모든 NaN값의 연산은 NaN으로 표기한다.
df_na.sum(skipna = False)
df_na < 3

       0
0   True
1   True
2  False

In [10]:
df_na < 2

       0
0   True
1  False
2  False

In [11]:
# NaN은 어떤걸 비교해도 Fasle로 반환된다
df_na < np.nan

       0
0  False
1  False
2  False

In [12]:
df_na > np.nan

       0
0  False
1  False
2  False

In [13]:
# 비교연산은 결측값(누락값)에서 사용 할 수 없다.
df_na == np.nan

       0
0  False
1  False
2  False